@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import "variables.scss";
@import "mixins.scss";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: $pastel-white;
    list-style: none;
    font-family: "Tenor Sans";
}

ul {
    list-style: none;
}

.separator-section {
    @include align-justify-center;
    margin: 20px 0;
}

.separator-section span {
    border: 0.1px solid;
    border-color: $pastel-grey;
    margin: 20px 5px;
}

// VP-HEADER //

.vp-container {
    @include column;
    min-height: 100vh;

    .vp {
        @include align-justify-center;
        background: url(/public/images/frame.jpg) center center/cover;
        height: 25rem;
    }
    .vp-logo {
        @include align-justify-center;
    }
    .vp-color-a {
        color: $pastel-white;
    }
    .name {
        color: $pastel-white;
        font-weight: lighter;
        font-size: 35px;
    }
    .menu {
        @include justify-center;
        background: rgba(14, 133, 202, 0.479);
        border-radius: 1.2rem;
        padding: 1rem 2rem;
    }
    .menu ul {
        display: flex;
    }
    .menu ul li {
        padding: 0 2rem;
    }
    .menu ul li a {
        color: $pastel-white;
        font-size: $font-size-20;

        &:hover {
            color: $light-Blue;
            transition: 0.45s;
        }
    }
    .logo-img {
        max-width: 5rem;
        border-radius: 25px;
        padding: 1rem;
    }
}

// INFO //

.container-info {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 10rem;
    margin-top: $margin-top-2rem;

    .img-find,
    .img-estimate,
    .img-rental {
        @include justify-center;
    }
    .logo-find,
    .logo-estimate,
    .logo-rental {
        width: 20%;
    }
    .text-title {
        @include text-align;
        text-transform: uppercase;
        margin-top: $margin-top-20px;
    }
    .text-offer {
        @include text-align;
        margin-top: 30px;
    }
    .offer-container-btn {
        @include justify-center;
        gap: 4px;
        .buy-btn,
        .rent-btn {
            @include cta-btn-construct;
            border-color: $light-Blue;
            background-color: $light-Blue;

            &:hover {
                background-color: $blue;
                border: $border;
                border-color: $blue;
            }
        }
    }

    .more-info-container-btn {
        @include justify-center;
        margin-top: $margin-top-2rem;
        .more-info {
            @include cta-btn-construct;
            background-color: $blue;
            &:hover {
                background-color: $light-Blue;
                border: $border;
                border-color: $light-Blue;
            }
        }
    }

    .estimate-container-btn {
        @include justify-center;
        margin-top: $margin-top-2rem;

        .estimate-btn {
            @include cta-btn-construct;
            background-color: $yellow;
            &:hover {
                background-color: #ee9754;
            }
        }
    }
}

// OFFER //

.offer {
    padding: 5rem 2rem 5rem 2rem;

    .title-last-offers {
        @include justify-center;
        font-weight: 300;
        font-size: 2rem;
        color: $dark;
        transition: 0.2s;
        &:hover {
            color: $light-Blue;
        }
    }
    .offer-list {
        display: flex;
        flex-flow: nowrap;
        justify-content: space-between;
    }
    .offer-elem {
        border: $border;
        border-color: $pastel-white;
        margin: 1rem;
        flex: 1;
    }
    .offer-elem-text {
        padding: 2rem;
        @include text-align;
    }
    .offer-elem-img {
        width: 100%;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .offer-separator {
        margin: 1rem;
        height: 1px;
        width: 1px;
        background-color: $pastel-Black;
    }
}

// ESTIMATE //

.estimate-title {
    @include justify-center;
    font-weight: 300;
    font-size: 2rem;
    color: $dark;
    transition: 0.2s;
    &:hover {
        color: $light-Blue;
    }
}
.estimate-container {
    padding: 0 2rem 10rem 2rem;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.online {
    @include card-construct;
}
.agency {
    @include card-construct;
}
.content-estimate {
    margin-top: 30px;
    margin-left: 10px;
    color: $pastel-white;
    width: 100px;
    @include text-align;
    border-radius: $radius5;
    background-color: $blue;
}
.estimate-offer {
    padding-top: 30px;
}

.estimate-agency {
    border-radius: $radius10;
    padding: 6px;
    color: $pastel-white;
    background-color: $blue;
    display: inline-block;
    margin-top: 20px;
    transition: 0.25s;
    &:hover {
        background-color: $light-Blue;
    }

    .estimate-online {
        border-radius: $radius10;
        padding: 6px;
        margin-top: 45px;
        color: $pastel-white;
        background-color: $blue;
        display: inline-block;
        transition: 0.2s;
        &:hover {
            background-color: $light-Blue;
        }
    }
}

// NEWS //

.container-news {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 5rem 1rem 5rem 1rem;
}
.container-news > div {
    flex: 1;
    min-width: 0;
}

.news-title {
    @include justify-center;
    margin-top: 3rem;
    font-weight: 300;
    font-size: 2rem;
    color: $dark;
    transition: 0.2s;
    &:hover {
        color: $light-Blue;
    }
}
.news-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img-news-1 {
    @include justify-center;
}

.title-news {
    @include text-align;
    margin-top: $margin-top-2rem;
    font-weight: 600;
    font-size: 15px;
}

.date-news {
    @include text-align;
    font-weight: lighter;
    font-size: small;
}
.news-content {
    @include text-align;
    font-weight: lighter;
    font-size: small;
}

.read-more-container {
    @include justify-center;
}

.carrousel-container-btn {
    @include justify-center;
}

.read-more-btn {
    @include cta-btn-construct;
    background-color: #47b8d6;
    border: 1px solid #47b8d6;
    &:hover {
        background-color: $blue;
        border: $border;
        border-color: $blue;
    }
}

// CARROUSEL //

.selection-title {
    @include justify-center;
    margin-top: 3rem;
    font-weight: 300;
    font-size: 2rem;
    color: $dark;
    transition: 0.2s;
}

.selection-title:hover {
    color: $light-Blue;
}

.carrousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
}

.carrousel-item {
    margin-left: 1rem;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 450px;
    scroll-snap-align: start;
}

.carrousel-img {
    max-width: 30rem;
}

.card-title {
    @include justify-center;
}

.card-info {
    @include justify-center;
}

.card-price {
    @include justify-center;
}

.card-more-info {
    padding: 8px 15px 8px 15px;
    background-color: #47b8d6;
    border: 1px solid #47b8d6;
    border-radius: $radius5;
    transition: 0.2s;
    text-transform: uppercase;
    font-weight: bold;
    color: $pastel-white;
}

.card-more-info:hover {
    background: #1e81b0;
    border: 1px solid #1e81b0;
}

// CONTACT //

.contact {
    @include column;
    @include text-align;
    background: $dark;
    color: $pastel-white;
}

.contact-form {
    @include column;
    max-width: 500px;
    width: 100%;
}

.title {
    @include justify-center;
    margin-top: 50px;
    font-weight: 300;
    font-size: 2rem;
}

.contact-form input {
    background: $dark;
    border: 0;
    border-bottom: 1px solid #555;
    padding: 1rem;
    font-size: 1.3rem;
    color: $pastel-white;
    outline: 0;
    margin-bottom: 1rem;
}

.contact-form button {
    display: block;
    margin: 3rem auto;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 30px;
    background: white;
    font-family: var(--open-sans, sans-serif);
    text-transform: uppercase;
    color: $dark;
    font-weight: 800;
    font-size: 1.3;
    cursor: pointer;
}

.contact-form button:hover {
    background: $light-Blue;
}

// FOOTER //

footer {
    @include text-align;
    background: $pastel-Black;
    padding: 1rem 1rem 1rem 1rem;
    color: $pastel-white;
}

footer p {
    margin-bottom: 0;
}


/* Mobile first (styles de base) */

/* Petits écrans (téléphones) */
@media (max-width: 480px) {
  .name {
    font-size: 20px;
    color: white;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .container-info {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .offer-list {
    display: flex;
    flex-direction: column;
  }

  .container-news {
    display: flex;
    flex-direction: column;
  }

  .estimate-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
}

/* Tablettes en portrait */
@media (min-width: 481px) and (max-width: 768px) {
  /* Styles pour les tablettes */
}

/* Tablettes en paysage et petits laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  .container-news {
    display: flex;
    flex-direction: column;
  }

  .estimate-container {
    gap: 20px;
  }
}

/* Ordinateurs et écrans larges */
@media (min-width: 1025px) {
  .estimate-container {
    gap: 20px;
  }
}
