// COLORS //
$blue: #1e81b0;
$light-Blue: #47b8d6;
$yellow: #eab676;
$dark: #1e201e;
$pastel-Black: #41444b;
$pastel-grey: #52575d;
$pastel-white: #fef9f2;

// FONT-SIZE //

$font-size-20: 20px;
$padding-1-2rem: 1rem 2rem;

// MARGIN-TOP //

$margin-top-20: 20px;
$margin-top-2rem: 2rem;

// BORDER //

$border: 1px solid;

// RADIUS //

$radius5: 5px;
$radius10:10px;
$radius20:20px;
